// colors

$pixer_title_color:#FFFFFF;
$pixer_btn_colors:#00BAFC;
$pixer_words_colors:#000000;
$pixer_input_colors:#F3F3F3;


// font size
$pixer_title_size:30px;
$pixer_navbar_size:15px;
$pixer_title_words_size:16px;
$pixer_cards_words_size:20px;
$pixer_cards_title_words_size:24px;





// font weight
$pixer_title_weight:700;
$pixer_title_words_weight:400;
